.inner-menu-header-tabs-container {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #dbd9d7;
  background-color: #f9f9f9;
  padding: 10px 7rem;
}

.inner-menu-header-tab-menu {
  display: flex;
  gap: 1rem;
}

.inner-menu-header-tab {
  padding: 0.5rem 1rem;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.inner-menu-header-tab.active {
  color: #000;
  border-bottom: 1px solid #000;
}


.inner-menu-header-tab-content {
  font-size: 1.2rem;
  max-width: 1300px;
  margin: 0 auto;
}
